includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - src/
        - tests/
    tmpDir: tmp
    level: 5
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
